  {% for post in paginator.posts %}
      <div class="recent_post">
        {% if (post.thumbnail) %}
            <a href="{{ post.url }}">
                <img src="{{ post.thumbnail }}" class="post_img space_line parentsize"/>
            </a>
        {% endif %}
        <a href="{{ post.url }}">
            <h1 class="post_title">{{ post.title }}</h1>
        </a>
        <div class="date_tag">
            <h2 class="thin_date">{{ post.date | date: "%d/%m/%y %H:%M:%S" }} </h2>
            <ul class="compact tags">
            {% for tag in post.tags %}
                <li class="tag archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <p class="post_summary">{{ post.summary }}</p>
      </div>
      {% unless forloop.last %}
        <hr/>
      {% endunless %}
  {% endfor %}    
  
  {{ paginator | pager_links }} 